﻿input{
	position:absolute;
	width:200px;

	left:350px;

	}

	textarea{
	position:absolute;
	width:200px;
	height:150px;

	left:350px;

	}


	form {
		margin-left: 200px;
	}

	button{
	
		margin-left: 300px;
		margin-top: 200px;
	}